/* import font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #1B1B1B;
    --tertiary-color: #8D56C7;
    --quaternary-color: #69369F;
    --quinary-color: #3C8C28;
    --gradient-color: linear-gradient(120deg, #A5F491, #3C8C28);
    --shadow-color: rgba(0, 0, 0, 0.20) 0 5px 20px;
}

#loom-companion-mv3 {
    display: none
}

body {
    background: var(--primary-color);
    position: relative;
    overflow-x: hidden;
}

header {
    background: var(--quinary-color);
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding: 0 5%;
    z-index: 3;
}

header .back-option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 2.2rem;
    width: 2.4rem;
    border-radius: .5rem;
    border: .12rem solid var(--primary-color);
}

.back-option ion-icon {
    color: var(--primary-color);
    font-size: 1.2rem;
}

main {
    padding: 4.35rem 0 0 0;
}

.main-content {
    width: 100vw;
    height: 90vh;
    padding: 10% 5% 0 5%;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    overflow-y: scroll;
}

.main-content h2 {
    color: var(--quinary-color);
    font-size: 1.7rem;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}