/* import font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #1B1B1B;
    --tertiary-color: #8D56C7;
    --quaternary-color: #69369F;
    --quinary-color: #3C8C28;
    --gradient-color: linear-gradient(120deg, #A5F491, #3C8C28);
    --shadow-color: rgba(0, 0, 0, 0.20) 0 5px 20px;
}

#loom-companion-mv3 {
    display: none
}

body {
    background: var(--primary-color);
    position: relative;
    overflow-x: hidden;
}

.menu {
    background: var(--primary-color);
    position: absolute;
    top: 13%;
    right: 5%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem;
    gap: .5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-color);
    display: none;
    z-index: 4;
}

.active {
    display: flex;
}

.menu a {
    color: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    text-decoration: none;
    font-size: 1.13rem;
    padding: .5rem 0;
}

.menu a:hover {
    color: var(--tertiary-color);
}

.menu .line {
    width: 100%;
    height: .1rem;
    background: var(--secondary-color);
    opacity: .1;
}

header {
    background: var(--quinary-color);
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;
    z-index: 3;
}

.header-profile {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header-options #openMenu {
    background: transparent;
    border: none;
    outline: none;
    font-size: 2.2rem;
    color: var(--primary-color);
    cursor: pointer;
}

main {
    padding: 4.35rem 0 0 0;
}

.main-content {
    width: 100vw;
    height: 90vh;
    padding: 10% 5% 0 5%;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    overflow-y: scroll;
    border: .1rem solid var(--tertiary-color);
}

.main-content h1 {
    color: var(--quinary-color);
    font-size: 1.7rem;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}