/* import font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #1B1B1B;
    --tertiary-color: #8D56C7;
    --quaternary-color: #69369F;
    --quinary-color: #3C8C28;
    --sixtnary-color: #ccc;
    --gradient-color: linear-gradient(120deg, #A5F491, #3C8C28);
    --shadow-color: rgba(0, 0, 0, 0.20) 0 5px 20px;
}

#loom-companion-mv3 {
    display: none
}

body {
    background: var(--primary-color);
    position: relative;
    overflow-x: hidden;
}

#addRecipe {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: var(--shadow-color);
    cursor: pointer;
    z-index: 3;
}

#addRecipe ion-icon {
    font-size: 4rem;
    color: var(--quinary-color);
    cursor: pointer;
}

#recipeList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#addRecipeModal {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 10% 0;
    overflow-y: scroll;
    z-index: 2;
    display: none;
}

.mdoal-button {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
}

#closeAddRecipeModal {
    background-color: transparent;
    color: var(--quinary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: .15rem solid var(--quinary-color);
    outline: none;
    padding: .8rem;
    font-size: 1.4rem;
    cursor: pointer;
}

#saveRecipe {
    background-color: var(--quinary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

#addRecipeModal label {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    color: var(--quinary-color);
}

#addRecipeModal label input {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border: 1px solid var(--sixtnary-color);
    border-radius: 5px;
}

#addRecipeModal label textarea {
    width: 100%;
    min-height: 5rem;
    padding: 10px;
    border: 1px solid var(--sixtnary-color);
    border-radius: 5px;
}

.card {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: var(--shadow-color);
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card .info {
    background-color: var(--quinary-color);
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1.5rem;
}
.card .info h3 {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.card .info button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card ion-icon {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;

}

.details {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: var(--shadow-color);
    overflow-y: scroll;
    z-index: 1;
}

.details img {
    width: 100%;
    height: 100%;
    max-height: 380px;
    object-fit: cover;
}

.recipeDetails-content {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

#closeDetails {
    background-color: var(--primary-color);
    position: absolute;
    top: -5rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
}

#closeDetails ion-icon {
    font-size: 3rem;
    color: var(--quinary-color);
}

#editRecipe {
    background-color: var(--quinary-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    cursor: pointer;
}

#deleteRecipe {
    background-color: var(--quinary-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    cursor: pointer;
}

.recipeDetails-content h2 {
    color: var(--quinary-color);
    font-size: 2rem;
    font-weight: 500;
}

.recipeDetails-content p {
    color: var(--secondary-color);
    font-size: 1.3rem;
    opacity: .6;
    line-height: 1.5;
    font-weight: 300;
}

#detailsDate {
    color: var(--quinary-color);
    font-size: 1.1rem;
    margin: 1rem 0;
    opacity: .6;
}

.recipeDetails-content article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.menu {
    background: var(--primary-color);
    position: absolute;
    top: 13%;
    right: 5%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem;
    gap: .5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-color);
    display: none;
    z-index: 4;
}

.active {
    display: flex;
}

.menu a {
    color: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    text-decoration: none;
    font-size: 1.13rem;
    padding: .5rem 0;
}

.menu a:hover {
    color: var(--tertiary-color);
}

.menu .line {
    width: 100%;
    height: .1rem;
    background: var(--secondary-color);
    opacity: .1;
}

header {
    background: var(--quinary-color);
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;
    z-index: 3;
}

header p {
    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 400;
}

.header-options #openMenu {
    background: transparent;
    border: none;
    outline: none;
    font-size: 2.2rem;
    color: var(--primary-color);
    cursor: pointer;
}

main {
    padding: 4.35rem 0 0 0;
}

.main-content {
    width: 100vw;
    height: 90vh;
    padding: 10% 5% 5% 5%;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

@media (min-width: 430px) and (max-width: 779px) {
    #addRecipeModal label {
        width: 80%;
    }

    #recipeList {
        display: flex;
        justify-content: center;
    }

    .mdoal-button {
        width: 80%;
    }
}

@media screen and (max-width: 429px) {
    #addRecipeModal label {
        width: 80%;
    }

    #recipeList {
        display: flex;
        justify-content: center;
    }

    .mdoal-button {
        width: 80%;
    }

    .menu {
        width: 70%;
    }
}